<!doctype html>
<html ng-app="inclusive">
  <head>
    <meta charset="utf-8">
    <title>Make The Language Inclusive Again</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="MainController as vm">

      <section layout="column" layout-align="center center">

        <header>

          <h1 class="md-display-1">
            Make The Language Inclusive Again
          </h1>

        </header>

        <form id="vm.frm" class="inclusive-form">
          <md-input-container flex>
            <label>Tu frase o palabra no inclusiva y poco moderna aquí</label>
            <input id="phrase" data-ng-model="vm.model.phrase" autofocus ng-keyup="vm.makeInclusive()">
          </md-input-container>
        </form>

        <section data-ng-if="vm.inclusiveResult.inclusivePhrase" style="text-align:center">
          <p class="md-title">
            <strong>En un mundo moderno e inclusivo tu frase se debe escribir así</strong>
          </p>

          <p class="md-headline">
            <span id="inclusive-phrase">
              {{vm.inclusiveResult.inclusivePhrase}}
            </span>
          </p>
            <p>
              Tu frase tiene <strong>{{vm.inclusiveResult.totalLetters}}</strong> palabras, de las cuales
              <strong>{{vm.inclusiveResult.totalNoInclusive}} no son inclusivas ni modernas.</strong>
            </p>
            <p>
              Eso indica un <strong>{{vm.inclusiveResult.unfairPhrase | number: 2}}% de poca inclusión y modernismo.</strong>
            </p>
            <p>
              Cambia eso ahora mismo con tan solo hacer click en el siguiente botón. <strong>¡Hagamos el
              lenguaje inclusivo y moderno otra vez!</strong>
            </p>
            <md-button id="btn-inclusive"  md-no-ink class="md-primary"
              ngclipboard data-clipboard-text data-clipboard-action="copy"
              data-clipboard-target="#inclusive-phrase"
              ngclipboard-success="vm.inclusiveCopySuccess(e);">
              Copiar Frase Inclusiva
            </md-button>
        </section>

      </section>

    </div>


    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
